<div class="container" style="font-size:20px">
  <%= form_for(@produto) do |f|  %>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
    <%= f.label :cor %>
    <%= f.text_field :cor %>
    <%= f.label :descrição %>
    <%= f.text_field :descricao %>
    <%= f.label :valor %>
    <%= f.text_field :valor%>
    <%= f.file_field :photo %>
    <div style="padding-top:30px">
    <%= f.submit "Criar produto"%></div>
  <% end %>
</div>
