<div class="card-category">
    <%= cl_image_tag @produto.photo.key, height: 100, width: 200, crop: :fill %>
    <h1><%= @produto.nome %></h1>
    <h2>Descrição:<%= @produto.cor %>,<%= @produto.descricao %>
    <h2>Preço:R$<%= @produto.valor %></h2>


    <%= link_to "Lista completa", produtos_path %>
    <%= link_to "Deletar",
            produto_path(@produto),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</div>
