<div class="card-trip">
  <%= cl_image_tag @produto.photo.key, height: 500, width: 400, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @produto.nome %></h2>
      <p><%= @produto.cor %>,<%= @produto.descricao %></p>
    </div>
      <h2 class="card-trip-pricing"><%= @produto.valor %></h2>
      <%= image_tag "ga.png", alt: "Le Wagon", class:"card-trip-user avatar-bordered"%>
    </div>
    <%= link_to "Lista completa", produtos_path %>
    <%= link_to "Deletar",
            produto_path(@produto),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</div>
